<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ly.baselibrary">

    <!--    <permission-->
    <!--        android:name="com.ly.baselibrary.permission.JPUSH_MESSAGE"-->
    <!--        android:protectionLevel="signature" />-->
    <!--    <uses-permission android:name="com.ly.baselibrary.permission.JPUSH_MESSAGE" />-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于访问网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.ly.baselibrary.ui.WelcomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ly.baselibrary.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ly.baselibrary.ui.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ly.baselibrary.ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ly.baselibrary.ZBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ly.baselibrary.ZxingScanActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.ly.baselibrary.ZxingGeneratectivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ly.baselibrary.NetworkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ly.baselibrary.NetworkMvpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ly.baselibrary.NetworkMvp2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ly.baselibrary.mvp2.demo.dynamic.DynamicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ly.baselibrary.mvp2.demo.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ly.baselibrary.ui.TrackServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ly.baselibrary.mvvm.MvvmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ly.baselibrary.ui.TrackActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="BASE_URL"
            android:value="${BASE_URL}" />
        <meta-data
            android:name="BASE_SHARE_URL"
            android:value="${BASE_SHARE_URL}" />
        <meta-data
            android:name="CUR_ENV"
            android:value="${CUR_ENV}" />
        <meta-data
            android:name="VERSION_NAME"
            android:value="${VERSION_NAME}" />
        <meta-data
            android:name="VERSION_CODE"
            android:value="${VERSION_CODE}" />
        <meta-data
            android:name="PIC_HOST"
            android:value="${PIC_HOST}" />
        <meta-data
            android:name="TENCENT_APPKEY_VALUE"
            android:value="${TENCENT_APPKEY_VALUE}" />
        <meta-data
            android:name="JPUSH_PKGNAME"
            android:value="${JPUSH_PKGNAME}" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}" />
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${JPUSH_CHANNEL}" />
        <!-- 高德鹰眼sdk-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6a2b243be023c7b3dc27544a76996477" />

        <service android:name="com.amap.api.track.AMapTrackService" />
        <service android:name="com.amap.api.location.APSService" />

        <receiver
            android:name="com.common.base.receiver.JpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="well.curefun.com" />
            </intent-filter>
        </receiver>
    </application>

</manifest>