<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.basely.permission" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application >
            <provider
                android:name=".InstallerProvider"
                android:authorities="${applicationId}.fileProvider"
                android:exported="false"
                android:grantUriPermissions="true"
                tools:replace="android:authorities">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"
                    tools:replace="android:resource" />
            </provider>

        </application>
</manifest>
